<header>
  <br>
  <div class = "brand">
    <h3>
      <%= link_to  'My Board Game Library', home_path %>
    </h3>
    <p>
      There are currently  <span class = "badge"><%= @board_games.count %></span> games in my library.
    </p>
  </div>
  <div class = "finder">
    <span class = "finder-header">Board Game Finder</span>
  		<%= form_tag({controller:'board_games', action: 'search'}, method: "get") do %>
      <%= label_tag :players, "Players:" %>
      <%= text_field_tag :players, params[:players], id: 'players_field', placeholder: 2 %>

      <%= label_tag :time, "Time available (in minutes):" %>
      <%= text_field_tag :time, params[:time], id: 'time_field', placeholder: 60 %>

      <%= submit_tag "Search", class: 'btn btn-search' %>
    <% end %>
  </div>
</header>
