<h1 class="library-header">
  Welcome to your Board Game Library Brenna
</h1>

<div class="library">
  <table class = "table" >
    <thead>
      <th>
        My Rating
      </th>
      <th>
       Title
      </th>
      <th>
        Players
      </th>
      <th>
        Play Time
      </th>
    </thead>
    <tbody>
      <% @board_games.each do |game| %>
        <tr>
          <td>
            <%= game.my_rating %>
          </td>
          <td>
          <%= link_to "#{game.title}", board_game_path(game.id)  %>
          </td>
          <td>
            <%= game.min_players %> - <%= game.max_players %>
          </td>
          <td>
            <%= game.min_time %> - <%= game.max_time %>
          </td>
        </tr>
      <% end  %>
    </tbody>
  </table>
</div>
