<header>
  <h2>
  My Board Game Library
  </h2>
  <p>
    There are currently  <%= @board_games.count %> games in my library.
  </p>
</header>
<div class="library">
  <table class = "table table-hover" >
    <thead>
      <th>
        My Rating
      </th>
      <th>
       Title
      </th>
      <th>
        Players
      </th>
      <th>
        Play Time
      </th>
    </thead>
    <tbody>
      <% @board_games.each do |game| %>
        <tr>
          <td>
            <%= game.my_score %>
          </td>
          <td>
          <%= link_to "#{game.title}", board_game_path(game.id)  %>
          </td>
          <td>
            <%= game.min_players %> - <%= game.max_players %>
          </td>
          <td>
            <%= game.min_time %> - <%= game.max_time %>
          </td>
        </tr>
      <% end  %>
    </tbody>
  </table>
</div>
