<div class="library">
  <table class = "table table-hover" >
    <thead>
      <th>
        My Rating
      </th>
      <th>
       Title
      </th>
      <th>
        Players
      </th>
      <th>
        Play Time (in minutes)
      </th>
    </thead>
    <tbody>
      <tr>
        <td colspan="4">
          <%= link_to '+ Add a new game', new_board_game_path  %>
        </td>
      </tr>
      <% @board_games.each do |game| %>
        <tr>
          <td>
            <%= game.my_score %>
          </td>
          <td>
          <%= link_to "#{game.title}", board_game_path(game.id) %>
          </td>
          <td>
            <%= game.min_players %> - <%= game.max_players %>
          </td>
          <td>
            <%= game.min_time %> - <%= game.max_time %>
          </td>
        </tr>
      <% end  %>
    </tbody>
  </table>
</div>
