<div class = "normal_form">
  <%= form_tag({controller:'board_games', action: 'check_bgg'}, method: "post") do %>
    <legend>Check Board Game Geek First</legend>
    <%= label_tag :title, "Title:" %>
    <%= text_field_tag :title, params[:title], id: 'title_field', placeholder: "Settlers of Catan" %>

    <%= submit_tag "Check", class: 'btn btn-edit' %>
  <% end %>
  <br>
  <%= form_for @board_game do |f| %>
  <fieldset>
    <legend>Manually Enter Game Details</legend>
      <%= f.label :title, "Title:"  %>
      <%= f.text_field :title, required: true, class: "form_field", autofocus: true, placeholder: "Settlers of Catan" %>

      <%= f.label :expansion, "Is an expansion:" %>
      <%= f.select :expansion, [[false], [true]], class: "form_field", autofocus: true %>
      <br>

      <%= f.label :expansion_to, "Expansion to:" %>
      <%= f.select :expansion_to, @game_titles, class: "form_field", autofocus: true  %>
      <br>

      <%= f.label :creator, "Creator:"  %>
      <%= f.text_field :creator, class: "form_field", autofocus: true, placeholder: "Klaus Teuber" %>

      <%= f.label :my_score, "My Score: (out of 10)"  %>
      <%= f.text_field :my_score, numericality: true, class: "form_field", autofocus: true, placeholder: 8.5 %>

      <%= f.label :min_players, "Minimum Number of Players:"  %>
      <%= f.text_field :min_players, numericality: true, class: "form_field", autofocus: true, placeholder: 3 %>

      <%= f.label :max_players, "Maximum Number of Players:"  %>
      <%= f.text_field :max_players, numericality: true, class: "form_field" %>

      <%= f.label :min_time, "Short Game: (in minutes)"  %>
      <%= f.text_field :min_time, numericality: true, class: "form_field", autofocus: true, placeholder: 60 %>

      <%= f.label :max_time, "Long Game: (in minutes)"  %>
      <%= f.text_field :max_time,  numericality: true, class: "form_field", autofocus: true, placeholder: 6 %>

      <%= f.label :description, "Description:"  %>
      <%= f.text_area :description, size: "50x10", class: "form_field", autofocus: true, placeholder: "In Settlers of Catan players try to be the dominant force on the island of Catan by building settlements, cities, and roads. On each turn dice are rolled to determine what resources the island produces. Players collect these resources (cards)—wood, grain, brick, sheep, or stone—to build up their civilizations to get to 10 victory points and win the game." %>
   </fieldset>

    <%= f.submit 'Add Game', class: 'btn btn-edit' %>
  <% end %>
</div>
