<%= render partial: "header" %>

<div class="library">
<h2><%= @board_game.title %></h2>
<h4>Created by: <%= @board_game.creator %></h4>
<% if @board_game.expansion == true %>
  <p>
    Expansion to: <%= @board_game.expansion_to %>
  </p>
<% elsif @expansions.length != 0 %>
  <p>
    Expansions  Owned:
  </p>
  <ul>
    <% @expansions.each do |expansion| %>
    <li>
      <%= expansion.title %>
    </li>
  </ul>
  <% end %>
<% end %>
<p>
  My Score: <%= @board_game.my_score %>
</p>
<p>
  Board Game Geek Score:  <%= @board_game.bgg_score %>
</p>
<p>
  Players: <%= @board_game.min_players %> - <%= @board_game.max_players %>
</p>
<p>
  Play time: <%= @board_game.min_time %> - <%= @board_game.max_time %>
</p>
<p>
  Description:
</p>
<p>
  <%= @board_game.description %>
</p>
</div>
