<div class="library">
<h2><%= @board_game.title %></h2>
<% if @board_game.expansion == true %>
  <p>
    Expansion to: <%= link_to "#{@board_game.expansion_to}", board_game_path(@base_game.id) %>
  </p>
<% elsif @expansions.length != 0 %>
  <p>
    Expansions  Owned:
  </p>
  <ul>
    <% @expansions.each do |expansion| %>
    <li>
      <%= link_to "#{expansion.title}", board_game_path(expansion.id) %>
    </li>
  </ul>
  <% end %>
<% end %>
<p>Created by: <%= @board_game.creator %></p>
<p>
  My Score: <%= @board_game.my_score %>
</p>
<p>
  Board Game Geek Score:
  <% if @board_game.bgg_score == nil %>
    not found
  <% else %>
    <%= @board_game.bgg_score %>
  <% end %>
</p>
<p>
  Players: <%= @board_game.min_players %> - <%= @board_game.max_players %>
</p>
<p>
  Play time: <%= @board_game.min_time %> - <%= @board_game.max_time %> minutes
</p>
<p>
  Description:
</p>
<p>
  <%= @board_game.description %>
</p>
<%= link_to "Edit Game", edit_board_game_path(@board_game.id), class: "btn btn-edit" %>
<%= link_to "Remove Game", board_game_path(@board_game.id), class: "btn btn-remove", :method => :delete %>
</div>
